<% const capitalizedTitle = page.charAt(0).toUpperCase() + page.slice(1) %>
<% const dataname = page + "name" %>

<h1><%= capitalizedTitle %></h1>

<% if(locals.data) { %>
  <ul>
    <% for(i=0; i<data.length; i++) { %>
      <li>
        <form action="/<%=page %>/<%=data[i].id %>/delete" class="deleteForm category">
            <div><%= data[i][dataname] %></div>
          <button class="deleteBtn" onClick="confirm('All the items in the category will be deleted.')">
            <i class="fa fa-solid fa-trash"></i>
          </button>
          </form>
      </li>
    <% } %>
  </ul>
<% } %>

<% if(locals.errors) { %>
  <%- include('partials/errors', {errors}) %>
<% } %>

<form action="/<%= page %>" method="post">
  <label for="<%= page %>"><%= capitalizedTitle %> Type: </label>
  <input 
    type="text" 
    id="<%= capitalizedTitle %>" 
    name="<%= dataname %>" 
    required 
    minlength="<%= length.min %>" 
    maxlength="<%= length.max %>"
  >
  <button type="submit">Add</button>
</form>